<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<bean name="car" class="org.xml_autowiring.Car">
<property name="brand" value="BMW"></property>
</bean>
<bean name="person" class="org.xml_autowiring.Person" autowire="constructor">
	<property name="name" value="Amol"></property>
</bean>
		
</beans>